<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="comdouglas_batista.github.cardapiodigital">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icone_cardapio"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Inicio"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Cliente"
            android:screenOrientation="portrait"/>
        <activity android:name=".Prato"
            android:screenOrientation="portrait" />
        <activity android:name=".FilaDePedidos"
            android:screenOrientation="portrait" />
        <activity android:name=".AdministrarMesas"
            android:screenOrientation="portrait" />
        <activity android:name=".GerenciarPratos"
            android:screenOrientation="portrait" />
        <activity android:name=".AtualizaExclui"
            android:screenOrientation="portrait" />
        <activity android:name=".PedidosCliente"
            android:screenOrientation="portrait" />
        <activity android:name=".AdicionarPrato"
            android:screenOrientation="portrait" />
        <activity android:name=".Administrador"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>